<template>
  <div class="Home">
    <div class="content-view-full ng-landing-page ">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 topic-intro">
            <h3>Discover all the workshops !</h3>
            <p>
              In order to actively participate in hands-on workshops, you need to bring your own laptop with a
              processor capable of hardware virtualization and at least 4 GB of RAM (8 GB is highly recommended).
              Regular hard disk will do, but having an SSD is an advantage. As for software requirements, you need to
              have the latest version of VirtualBox 5.x installed.
            </p>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</template>

<script>
  export default {
    name: 'Home',
    data () {
      return {}
    }
  }
</script>
