<template>
  <tr class="bglight">
    <td class=" text-left" style="vertical-align: top"> {{ hour_start }} - {{ hour_end }}</td>
    <td style="vertical-align: top">
      <a name="eztoc27098_1_0_1" id="eztoc27098_1_0_1"></a>
      <h4 class=" text-left">{{ title }}</h4>
      <p class=" text-left">
        {{ description }}
      </p>
      <p class=" text-left">
        <i>
          {{ informations }}
        </i>
      </p>
    </td>
  </tr>
</template>

<script>
  export default {
    name: 'Session',
    data () {
      return {}
    },
    props: [
      'hour_start',
      'hour_end',
      'title',
      'description',
      'informations'
    ],
    computed: {
      currentTheme () {
        return this.$route.params.category
      }
    }
  }
</script>
