<template>
  <div class="Sessions">
    <div class="content-view-full ng-landing-page  vf clearfix">
      
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-12 topic-intro">
            <h3>Workshop for theme {{ currentTheme }}</h3>
            <p>In order to actively participate in hands-on workshops, you need to bring your own laptop with a
              processor capable of hardware virtualization and at least 4 GB of RAM (8 GB is highly recommended).
              Regular hard disk will do, but having an SSD is an advantage. As for software requirements, you need to
              have the latest version of VirtualBox 5.x installed.</p>
            <p>Please note that if your laptop is not capable of hardware virtualization and doesn’t meet the
              requirements, you will only be able to listen to the workshops, but you will not be able to participate
              hands-on in the workshops and get the maximum value out of it.</p>
            <p>if you will still be having problems with your setup, our Help Desk&nbsp;crew will be there on August 29,
              18:00-19:30 to sort out any last minute issues.</p></div>
          
          <!--  TODO mkae some filters? -->
          <!--<div class="col-lg-4 col-md-8 col-sm-12">-->
            <!--<div class="right-intro">-->
              <!---->
              <!---->
              <!--<div class="">-->
                <!---->
                <!--<div class="content-view-embed ng-htmlbox">-->
                  <!--<div class="topic-social">-->
                    <!--<h4>Engage with us</h4>-->
                    <!--<a class="btn btn-outline btn-social" href="https://twitter.com/WebSummerCamp"><i-->
                      <!--class="fa fa-twitter"></i></a>-->
                    <!--<a class="btn btn-outline btn-social" href="https://www.facebook.com/WebSummerCamp"><i-->
                      <!--class="fa fa-facebook"></i></a>-->
                    <!--<a class="btn btn-outline btn-social" href="https://www.instagram.com/websummercamp"><i-->
                      <!--class="fa fa-instagram"></i></a>-->
                    <!--<a class="btn btn-outline btn-social" href="http://www.netgenlabs.com/Blog/eZ-Community-on-Slack"><i-->
                      <!--class="fa fa-slack"></i></a>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        
        </div>
      </div>
      
      
      <div class="container">
        <div class="att-body">
          
          <a name="eztoc27098_1" id="eztoc27098_1"></a>
          <h2>Program</h2>
          <table class="table day-zero object-center" style="width: 100%;border: 0;padding: 2;border-spacing:0;border-collapse: collapse;">
            <tbody>
              <tr>
                <th class=" text-left" colspan="2" scope="row" style="vertical-align: top"> DAY 0 – Tuesday, Aug 29</th>
              </tr>
              <session
                hour_start="14:00"
                hour_end="17:00"
                title="title !"
                description="Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus."
                informations="Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada."
              ></session>
            </tbody>
          </table>
          <table class="table day-one object-center"
                 style="width: 100%;border: 0;padding: 2;border-spacing:0;border-collapse: collapse;">
            <tbody>
            <tr>
              <th class=" text-left" colspan="2" width="20%" scope="col" style="vertical-align: top"> DAY 1 – Wednesday,
                Aug 30
              </th>
            </tr>
            <session
              hour_start="14:00"
              hour_end="17:00"
              title="title !"
              description="Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus."
              informations="Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada."
            ></session>
            <session
              hour_start="14:00"
              hour_end="17:00"
              title="title !"
              description="Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus."
              informations="Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada."
            ></session>
            
            
            
            
            
            
            </tbody>
          </table>
          <table class="table day-two object-center"
                 style="width: 100%;border: 0;padding: 2;border-spacing:0;border-collapse: collapse;">
            <tbody>
            <tr>
              <th class=" text-left" colspan="2" width="20%" style="vertical-align: top"> DAY 2 – Thursday, Aug 31
              </th>
            </tr>

            <session
              hour_start="14:00"
              hour_end="17:00"
              title="title !"
              description="Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus."
              informations="Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada."
            ></session>
            <session
              hour_start="14:00"
              hour_end="17:00"
              title="title !"
              description="Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus."
              informations="Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada."
            ></session>
            <session
              hour_start="14:00"
              hour_end="17:00"
              title="title !"
              description="Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus."
              informations="Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada."
            ></session>
            </tbody>
          </table>
          <table class="table day-three object-center"
                 style="width: 100%;border: 0;padding: 2;border-spacing:0;border-collapse: collapse;">
            <tbody>
            <tr>
              <th class=" text-left" colspan="2" width="20%" style="vertical-align: top"> DAY 3 – Friday, Sep 1
              </th>
            </tr>

            <session
              hour_start="14:00"
              hour_end="17:00"
              title="title !"
              description="Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus."
              informations="Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada."
            ></session>




            </tbody>
          </table>
          <table class="table day-four object-center"
                 style="width: 100%;border: 0;padding: 2;border-spacing:0;border-collapse: collapse;">
            <tbody>
            <tr>
              <th class=" text-left" colspan="2" width="20%" style="vertical-align: top"> DAY 4 - Saturday, Sep 2
              </th>
            </tr>

            <session
              hour_start="14:00"
              hour_end="17:00"
              title="title !"
              description="Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Nulla quis lorem ut libero malesuada feugiat. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus."
              informations="Donec sollicitudin molestie malesuada. Donec sollicitudin molestie malesuada."
            ></session>
            
            </tbody>
          </table>
        </div>
      </div>
      
    
    </div>
  </div>
</template>

<script>
  import Session from './Session'
  
  export default {
    name: 'Sessions',
    components: {
      Session
    },
    data () {
      return {}
    },
    computed: {
      currentTheme () {
        return this.$route.params.category
      }
    }
  }
</script>
