<template>
  <header class="header">
    <div class="container">
      <div id="menu">
        <a class="menu-logo" href="/">
          <img src="http://2017.websummercamp.com/extension/ez_netgen_summercamp/design/summercamp_web_2016/images/logo-triangles.svg">
          <img id="logo-text" src="http://2017.websummercamp.com/extension/ez_netgen_summercamp/design/summercamp_web_2016/images/logo-text.svg">
        </a>
        <ul class="main-menu">
          <li>
            <router-link :to="{ name: 'Sessions', params: { category: 'UX' }}"># UX</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'Sessions', params: { category: 'EZ' }}"># EZ</router-link>
          <li>
            <router-link :to="{ name: 'Sessions', params: { category: 'PHP' }}"># PHP</router-link>
          </li>
          <li>
            <router-link :to="{ name: 'Sessions', params: { category: 'JS' }}"># JS</router-link>
          </li>
        </ul>
      </div>
    </div>
  </header>
</template>

<script>
  export default {
    name: 'MainHeader',
    data () {
      return {}
    }
  }
</script>
