<template>
  <div class="header-ribbon">
    <div class="header-container">
    
    </div>
    
    <div class="placeholder placeholder-top-top">
      <div class="description-ribbon">
        <div class="container">
          
          <p>30 AUG – 2 SEP 2017, ROVINJ, CROATIA</p><a name="eztoc27096_1" id="eztoc27096_1"></a>
          <h2>eZ @ Web Summer Camp – the biggest eZ community learning &amp; fun event!</h2>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'RibbonHeader',
    data () {
      return {}
    }
  }
</script>
