<template>
  <div id="app">
    <main-header></main-header>
    <ribbon-header></ribbon-header>
    <div id="content">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
  import MainHeader from './components/Common/MainHeader'
  import RibbonHeader from './components/Common/RibbonHeader'
  
  export default {
    name: 'app',
    components: {
      MainHeader,
      RibbonHeader
    }
  }
</script>
